{{- $isWork := or (contains "inatel" .chezmoi.fullHostname) (contains "ICCSO" .chezmoi.fullHostname) -}}
{{- $isPersonal := not $isWork -}}
{{- $isWsl := not (not (or (env "WSL_DISTRO_NAME") (env "IS_WSL"))) -}}
{{- $isDevcontainer := not (not (or (env "REMOTE_CONTAINERS_IPC") (env "REMOTE_CONTAINERS_SOCKETS"))) -}}
{{- $isGnome := not ( not (lookPath "gnome-shell")) -}}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  {{- if $isWork }}
  email = "felipesantos@inatel.br"
  name = "Felipe de Cássio Rocha Santos"
  {{- else }}
  email = "felipecassiors@gmail.com"
  name = "Felipe Santos"
  {{- end }}
  is_personal = {{ $isPersonal }}
  is_work = {{ $isWork }}
  is_wsl = {{ $isWsl }}
  is_devcontainer = {{ $isDevcontainer }}
  is_gnome = {{ $isGnome }}
