{{- $isWork := contains "inatel" .chezmoi.hostname -}}
{{- $isPersonal := not $isWork -}}
{{- $isWsl := not (not (or (env "WSL_DISTRO_NAME") (env "IS_WSL"))) -}}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  {{- if $isWork }}
  email = "felipesantos@inatel.br"
  name = "Felipe de Cássio Rocha Santos"
  {{- else }}
  email = "felipecassiors@gmail.com"
  name = "Felipe Santos"
  {{- end }}
  is_personal = {{ $isPersonal }}
  is_work = {{ $isWork }}
  is_wsl = {{ $isWsl }}
