brew "chezmoi"
brew "gh"
brew "asciinema"
brew "jq"
brew "yq"
brew "shellcheck"
brew "helm"
brew "kind"
{{- if .is_work }}
brew "jfrog-cli"
{{- end }}
{{- if .is_gnome }}
brew "onedrive"
{{- end }}
{{- if not .is_wsl }}
brew "docker-compose"
{{- end }}
