#!/bin/bash

# {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library") }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

readonly unwanted_packages=(
  gcmcore
  direnv
  crudini
  fzf
  # {{ if not (eq .chezmoi.osRelease.versionCodename "bionic") }}
  python-nautilus
  # {{ end }}
)

for package in "${unwanted_packages[@]}"; do
  if is_apt_package_installed "${package}"; then
    log_task "Removing unwanted package '${package}' installed with APT"
    c apt remove --yes "${package}"
  fi
done
