#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

# daemon.json hash: {{ include "/etc/docker/daemon.json" | sha256sum }}

log_task "Restarting/reloading Docker daemon"
# {{ if .is_wsl }}
command=(service docker restart)
# {{ else }}
command=(systemctl reload docker)
# {{ end }}

if ! c "${command[@]}"; then
  log_manual_action "Docker daemon restart/reload failed, you may need to restart the 'docker' service manually for changes to take effect."
fi
