#!/bin/bash

# We need to remove execution permission from this file before letting
# chezmoi try to install it. Otherwise, it will identify a difference.
if [[ -x /usr/local/share/gcm-core/git-credential-manager-core.exe ]]; then
  chmod -x /usr/local/share/gcm-core/git-credential-manager-core.exe
fi
