#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

# daemon.json hash: {{ include "/etc/docker/daemon.json" | sha256sum }}

function not_during_test() {
  # {{ if env "DOTFILES_TEST" }}
  log_c "${@}"
  log_info "Skipping because we are in test mode"
  # {{ else }}
  c "${@}"
  # {{ end }}
}

log_task "Restarting/reloading Docker daemon"
# {{ if .is_wsl }}
not_during_test service docker restart
# {{ else }}
not_during_test systemctl reload-or-restart docker
# {{ end }}
