{{- /* The following variables are only available within this file */ -}}

{{- $personalName := "Felipe Santos" -}}
{{- $personalEmail := "felipecassiors@gmail.com" -}}

{{- $workName := "Felipe de Cássio Rocha Santos" -}}
{{- $workEmail := "felipesantos@inatel.br" -}}

{{- $chezmoiForce := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}

{{- $isWork := false -}}
{{- if hasKey . "is_work" -}}
{{-   $isWork = .is_work -}}
{{- end -}}
{{- if and stdinIsATTY (not $chezmoiForce) -}}
{{-   $isWork = promptBool "Is this a work environment" $isWork -}}
{{-   writeToStdout "\n💡 Tip: you can always make chezmoi ask this again by running `chezmoi init` without `--force`.\n" -}}
{{- end -}}

{{- $isPersonal := not $isWork -}}

{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $isDevcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") (env "GITPOD_HOST") | not | not -}}
{{- $isGnome := lookPath "gnome-shell" | not | not -}}

{{- /* This retains the value passed with --source on chezmoi init, which is used in the ../install.sh script */ -}}
sourceDir: "{{ .chezmoi.workingTree }}"

verbose: true

diff:
  exclude:
    - scripts

{{/* Here we "export" the variables, so we can access them outside this file */ -}}
data:
  is_personal: {{ $isPersonal }}
  is_work: {{ $isWork }}
  is_wsl: {{ $isWsl }}
  is_devcontainer: {{ $isDevcontainer }}
  is_gnome: {{ $isGnome }}

  personal_name: "{{ $personalName }}"
  personal_email: "{{ $personalEmail }}"

  work_name: "{{ $workName }}"
  work_email: "{{ $workEmail }}"

{{- if $isPersonal }}
  name: "{{ $personalName }}"
  email: "{{ $personalEmail }}"
{{- else }}
  name: "{{ $workName }}"
  email: "{{ $workEmail }}"
{{- end }}

  editor: "code --wait"
