[user]
name = {{ .name }}
email = {{ .email }}

[core]
editor = {{ .editor }}

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[mergetool "vscode"]
cmd = code --wait $MERGED

[diff]
tool = vscode

[merge]
autoStash = true
tool = vscode

[rebase]
autoStash = true

[push]
autoSetupRemote = true

[init]
defaultBranch = master

[gitreview]
remote = origin

[include]
path = ~/.config/gitalias/gitalias.txt

[alias]
caa = commit --amend --all
caane = commit --amend --all --no-edit
cob = checkout -b

apply-gitignore = "!f() { \
  set -ex; \
  git rm -r --cached . >/dev/null; \
  git add .; \
};f"

remote-for-branch = "!f() { \
  set -ex; \
  branch="${1:-"$(git current-branch)"}"; \
  git rev-parse --abbrev-ref --symbolic-full-name "${branch}@{upstream}" | sed -n 's,^\\(\\S*\\)/'"${branch}"'$,\\1,p' | grep .; \
};f"

rr = "!f() { \
  set -ex; \
  branch="${1:-"$(git current-branch)"}"; \
  remote="$(git remote-for-branch "${branch}")"; \
  git reset --hard "${remote}/${branch}"; \
};f"

pfor = "!f() { \
  set -ex; \
  if echo "${1}" | grep -q %; then \
    branch="$(echo "${1}" | cut -d'%' -f1)"; \
    push_opts="$(echo "${1}" | cut -d'%' -f2-)"; \
  else \
    branch="${1}"; \
    push_opts=""; \
  fi; \
  branch="${branch:-"$(git current-branch)"}"; \
  push_opts="${push_opts:+"%${push_opts}"}"; \
  remote="$(git remote-for-branch "${branch}")"; \
  git push "${remote}" "HEAD:refs/for/${branch}${push_opts}"; \
};f"

psfor = "!f() { \
  set -ex; \
  git caane; \
  git pfor "$@"; \
};f"

cptob = "!f() { \
  set -ex; \
  commit="${1}"; \
  shift; \
  \
  if echo "${1}" | grep -q ^%; then \
    push_opts="${1}"; \
    shift; \
  else \
    push_opts=""; \
  fi; \
  \
  for branch in "${@}"; do \
    git co "${branch}"; \
    git rr "${branch}"; \
    git pr; \
    git cp "${commit}"; \
    git pfor "${branch}${push_opts}"; \
  done; \
};f"
