{{- if not .is_devcontainer | and .is_gnome -}}
#!/bin/bash

echo_task() {
  printf "\033[0;34m--> %s\033[0m\n" "$*"
}

set -euo pipefail

if [[ ":$PATH:" != *":$HOME/.local/bin:"* ]]; then
  export PATH="$HOME/.local/bin:$PATH"
fi

echo_task "Setting up terminal font"
gsettings set org.gnome.desktop.interface monospace-font-name 'FiraCode Nerd Font 13'

{{ if not .is_wsl -}}
echo_task "Installing gnome extensions"
extensions=()
# User Themes
gnome-shell-extension-installer --update --yes 19
extensions+=('user-theme@gnome-shell-extensions.gcampax.github.com')
# ArcMenu
{{ if eq .chezmoi.osRelease.versionID "18.04" -}}
gnome-shell-extension-installer --update --yes 1228
extensions+=('arc-menu@linxgem33.com')
{{ else -}}
gnome-shell-extension-installer --update --yes 3628
extensions+=('arcmenu@arcmenu.com')
{{- end }}
# Dash to Panel
gnome-shell-extension-installer --update --yes 1160
extensions+=('dash-to-panel@jderose9.github.com')
# Clipboard Indicator
gnome-shell-extension-installer --update --yes 779
extensions+=('clipboard-indicator@tudmotu.com')

gsettings set org.gnome.shell enabled-extensions "[$(printf "'%s', " "${extensions[@]}" | sed 's/, $//')]"
{{ end -}}

{{ if lookPath "nautilus" -}}
echo_task "Adding 'Open Code here' in Nautilus context menu"
bash <(curl -fsSL https://raw.githubusercontent.com/harry-cpp/code-nautilus/master/install.sh)
{{ end -}}

echo_task "Setup VS Code as default text editor on gnome"
xdg-mime default code.desktop text/plain

echo_task "Setting up theme"
gsettings set org.gnome.desktop.interface gtk-theme "Yaru-dark"
gsettings set org.gnome.desktop.interface icon-theme "Yaru"
gsettings set org.gnome.desktop.interface cursor-theme "Yaru"
gsettings set org.gnome.desktop.sound theme-name "Yaru"
{{ if not .is_wsl -}}
gsettings --schemadir "$HOME/.local/share/gnome-shell/extensions/user-theme@gnome-shell-extensions.gcampax.github.com/schemas" set org.gnome.shell.extensions.user-theme name "Yaru-dark"
{{ end -}}

echo_task "Additional tweaks"
gsettings set org.gtk.Settings.FileChooser show-hidden true
{{- end -}}
