#!/bin/bash

# {{ template "scripts-library" }}
# {{ template "sdkman-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library
true || source ../.chezmoitemplates/sdkman-library

if ! sdk version &>/dev/null; then
  log_task "Installing SDKMAN!"

  # chezmoi already created the sdkman dir because of the etc/config file, so we move it temporarily out

  original_sdkman_config="${SDKMAN_DIR}/etc/config"
  temp_sdkman_config="$(mktemp --dry-run --suffix=sdkman_config)"

  mv -f "${original_sdkman_config}" "${temp_sdkman_config}"
  rm -rf "${SDKMAN_DIR}"

  sdkman_install_script=$(curl -fsSL "https://get.sdkman.io/?rcupdate=false")
  bash -c "${sdkman_install_script}"

  mv -f "${temp_sdkman_config}" "${original_sdkman_config}"
fi

java_version="11"
identifier="$(sdk list java | grep --only-matching --max-count 1 --extended-regexp "\b${java_version}.[0-9]+.[0-9]+-tem\b")"
if ! sdk current java | grep -q "${identifier}"; then
  log_task "Installing Java ${java_version} with SDKMAN!"
  c sdk install java "${identifier}"
  c sdk default java "${identifier}"
fi
