#!/usr/bin/env bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

win_home="$(wslvar USERPROFILE)"
settings_dir="$(wslpath "${win_home}\AppData\Local\Packages\Microsoft.WindowsTerminal_8wekyb3d8bbwe\LocalState")"
settings_path="${settings_dir}/settings.json"
if [[ -f "${settings_path}" ]]; then
  settings="$(cat "${settings_path}")"
else
  settings=''
fi

template_path='{{ joinPath .chezmoi.workingTree "windows/terminal/modify_settings.json" }}'
template="$(cat "${template_path}")"

chezmoi_path='{{ .chezmoi.executable }}'

result="$("${chezmoi_path}" execute-template --with-stdin "${template}" <<<"${settings}")"

if [[ "${result}" != "${settings}" ]]; then
  log_task "Configuring Terminal on Windows"
  mkdir -p "${settings_dir}"
  tee "${settings_path}" >/dev/null <<<"${result}"
fi
