#!/usr/bin/env bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

ensure_path_entry "${HOME}/.local/bin"

readonly unwanted_packages=()

for package in "${unwanted_packages[@]}"; do
  if pkgs installed "${package}" >/dev/null; then
    log_task "Removing unwanted package '${package}' installed with pkgx"
    pkgs uninstall "${package}"
  fi
done

readonly wanted_packages=(
  opendev.org/git-review
  # {{ if not .is_devcontainer }}
  openjdk.org
  maven.apache.org
  # {{ end }}
)

missing_packages=()

for package in "${wanted_packages[@]}"; do
  if ! pkgs installed "${package}" >/dev/null; then
    missing_packages+=("${package}")
  fi
done

if [[ ${#missing_packages[@]} -gt 0 ]]; then
  log_task "Installing missing packages with pkgx: ${missing_packages[*]}"
  pkgs install "${missing_packages[@]}"
fi
