#!/bin/bash

# {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library") }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

readonly wanted_packages=(
  git  # used to find the latest revisions of github repositories
  curl # used to find the latest version of github repositories
  jq   # used on modify_ scripts like docker daemon.json
  zsh
  # {{ if not .is_devcontainer }}
  gpg  # used to decrypt the gpg keys of the apt repositories
  gzip # used for zcat in .chezmoiexternal.yaml
  # {{   if .is_wsl }}
  crudini # used to configure wsl.conf
  # {{   end }}
  # {{ end }}
)
missing_packages=()

for package in "${wanted_packages[@]}"; do
  if ! command -v "${package}" >/dev/null; then
    missing_packages+=("${package}")
  fi
done

if [[ ${#missing_packages[@]} -gt 0 ]]; then
  log_task "Installing missing packages with APT: ${missing_packages[*]}"

  # This script also gets called when running rootmoi
  # {{ if eq .chezmoi.username "root" }}
  apt_command=(apt)
  # {{ else }}
  apt_command=(sudo apt)
  # {{ end }}

  c "${apt_command[@]}" update
  c "${apt_command[@]}" install --yes --no-install-recommends "${missing_packages[@]}"
fi
