{{-/* Workaround for https://github.com/twpayne/chezmoi/issues/1657 */-}}
{{- if hasSuffix "/home" .chezmoi.sourceDir -}}
  {{- .chezmoi.sourceDir -}}
{{- else -}}
  {{- joinPath .chezmoi.sourceDir "home" -}}
{{- end -}}
