deb [arch={{ .chezmoi.arch }} signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://ppa.launchpadcontent.net/docker/experimental/{{ .chezmoi.osRelease.id }} {{ .chezmoi.osRelease.versionCodename }} main
