{{- $ubuntuCodename := .chezmoi.osRelease.ubuntuCodename -}}
{{- if gt .chezmoi.osRelease.versionID "24.10" -}}
{{-   $ubuntuCodename = "oracular" -}}
{{- end -}}
deb [signed-by=/usr/share/keyrings/wslu-ppa.asc] http://ppa.launchpad.net/wslutilities/wslu/ubuntu {{ $ubuntuCodename }} main
