[credential]
{{ if .is_wsl -}}
helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
{{ else -}}
helper = /usr/local/bin/git-credential-manager-core
{{   if .is_gnome -}}
credentialStore = secretservice
{{   else -}}
credentialStore = plaintext
{{   end -}}
{{ end -}}
