name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        variant: [devcontainer, wsl, gnome]
        os: [ubuntu-20.04, ubuntu-22.04, ubuntu-24.04]
        include:
          - variant: devcontainer
            os: alpine
          - variant: devcontainer
            os: debian
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          scripts/test.sh --variant "${{ matrix.variant }}" --os "${{ matrix.os }}"
  verdict:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "All tests passed!"
