name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        variant: [devcontainer, wsl, gnome]
        os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          scripts/test.sh --variant "${{ matrix.variant }}" --os "${{ matrix.os }}"
